<h1><%= @user.full_name %></h1>
<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
<% else %>
  <% unless current_user.out_friend_requests.any?{ |f| f.requestee_id.to_i == @user.id.to_i } %>
    <%= link_to 'Add as Friend', user_url(@user)+"/friend_request" %>
  <% else %>
    <p>Friend Request Pending</p>
  <% end %>
<% end %>
<h3>Posts</h3>
<% @user.posts.each do |post| %>
    <strong><%= post.title %></strong>
    <p><%= post.body %></p>
<% end %>
